#typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

#typing-text span{
    position: relative;
}

#typing-text span::before{
    content: "Gamer";
    color:  rgb(79, 46, 228);
    animation: words 10s infinite;
}

#typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right:-8;
    animation: cursor 0.6 infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(79, 46, 228);
    }
}

@keyframes words{
    0%, 20%{
        content: " Gamer"
    }
    21%, 40%{
        content:" Student"
    }
    41%, 60%{
        content:"  Game Streamer"
    }
    61%, 80%{
        content:" Tiktok Content Creator"
    }
    81%, 100%{
        content: " Youtuber"
    }
}

 
